.hero {
  padding: 72px 0;
  background: url(/assets/image/house-bg-hero.jpg);
  background-position: right center;
  background-size: auto;
}

.section-hero-label {
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  padding: 12px 24px;
  text-align: center;
  background-color: #f8f9fe;
  color: #69b99d;
  width: 162px;
  height: 50px;
  margin-bottom: 32px;
}

.main-title {
  font-family: var(--font-title);
  font-weight: 600;
  font-size: 64px;
  line-height: 116%;
  letter-spacing: 0em;
  width: 605px;
  height: 148px;
  margin-bottom: 24px;
}

.subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: #73788c;
  width: 502px;
  height: 48px;
  margin-bottom: 64px;
}

.hero-buttons {
  display: inline-flex;
  background: #f4f4f4;
  border-radius: 6px 6px 0 0;
  overflow: hidden;
}

.hero-button {
  padding: 12px 32px;
  border: none;
  background: transparent;
  font-size: 24px;
  cursor: pointer;
  color: #9b9b9b;
  transition: 0.3s;
}

.hero-button:active {
  background: #fefeff;
  color: #69b99d;
  font-weight: 600;
}

.hero-form {
  display: flex;
  align-items: flex-end;
  gap: 40px;
  padding: 24px 28px;
}

.hero-form-location {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero-form-type {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero-form-price {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.hero-form label {
  font-size: 14px;
  color: #3d3d3d;
  font-weight: 500;
}

.hero-form select {
  border: none;
  background: transparent;
  font-size: 14px;
  color: #a6a6a6;
  cursor: pointer;
}

.hero-button-search {
  background: #69b99d;
  color: #fff;
  border: none;
  padding: 18px 48px;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  cursor: pointer;
  transition: 0.3s;
}