.reviews {
  padding: 72px 0;
}

.section-reviews-label {
  background: #f8f9fe;
  padding: 12px 24px;
  width: 274px;
  height: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  color: #69b99d;
  margin-bottom: 16px;
}

.reviews-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.reviews-title {
  font-family: var(--font-title);
  width: 504px;
  height: 56px;
  font-weight: 600;
  font-size: 48px;
  line-height: 117%;
  letter-spacing: 0.01em;
  text-align: center;
  color: #054457;
}

.reviews-link {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: #69b99d;
  padding: 12px 24px;
  width: 185px;
  height: 50px;
  font-weight: 500;
  font-size: 18px;
  line-height: 144%;
  letter-spacing: 0.03em;
}

.reviews-list {
  display: flex;
  gap: 32px;
}

.reviews-element {
  flex: 0 0 376px;
  padding: 24px;
  border: 1px solid #dedcda;
}

.reviews-element-title {
  margin-top: 24px;
  font-weight: 600;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0em;
  color: #1f2744;
}

.reviews-element-text {
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0em;
  color: #1f2744;
}

.reviews-element-wrapper {
  margin-top: 24px;
  display: flex;
  gap: 14px;
}

.reviews-element-wrapper-title {
  font-weight: 600;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0.03em;
  color: #0b2e29;
}

.reviews-element-wrapper-text {
  margin-top: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 183%;
  letter-spacing: 0.04em;
  color: #767676;
}